//imports

@import "src/sass/utilities/variables";
@import "src/sass/layouts/headers";
@import "src/sass/layouts/footer";
@import "src/sass/pages/home";
@import "src/sass/pages/sobremi";
@import "src/sass/pages/experiencia";
@import "src/sass/pages/habilidades";

//nesting
body {
  scroll-behavior: smooth;
  font-family: "Roboto Condensed", sans-serif;
  background: $fondo-principal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @include tablet {
    background: $fondo-secundario;
  }
  @include mobile {
    background: $fondo-secundario;
  }
}
//Header sass
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  font-size: 1.3rem;

  a {
    text-decoration: none;
    color: black;
  }

  @include headerResponsive;
}

.abrir-menu,
.cerrar-menu {
  display: none;
  border: 0;
}
@include menuIconResponsive;
.navbar {
  a {
    font-size: 1.2rem;
    color: black;
    margin-left: 3rem;
  }
  a:hover {
    color: #8a8a8a;
  }
}
@include navbarResponsive;
//  SASS para pagina de inicio *index*

.home {
  height: calc(100vh - 96px);
  display: flex;
  align-items: center;
  padding: 0 9%;
  .contenido-home {
    max-width: 50rem;
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 0;
    }
    h3 {
      font-size: 1.5rem;
      color: black;
    }
    p {
      font-size: 1.5rem;
    }
    .btn-box {
      position: relative;
      display: flex;
      justify-content: center;
      height: 4rem;
      .btn {
        position: relative;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 10rem;
        height: 100%;
        border: 0.2rem solid black;
        border-radius: 1rem;
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
        overflow: hidden;
        color: black;
      }
      .btn::before {
        content: "";
        position: absolute;
        border: 10px;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: rgba(38, 34, 51, 0.443);
        z-index: 1;
        transition: 1s;
      }

      .btn:hover::before {
        font-size: 1px;
        width: 100%;
      }
    }
  }
  .home-contacto {
    display: flex;
    position: absolute;
    bottom: 8rem;
    width: 170px;
    justify-content: space-between;

    a {
      position: relative;
      justify-content: center;
      width: 39px;
      height: 42px;
      align-items: center;
      border-radius: 120px;
      color: rgba(0, 0, 0, 0.548);
      transition: 0.4s;
    }
    a:hover {
      transform: scale(
        1.2
      ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
  }
}
//home responsive
@include homeResponsive;
//  sass para pagina de sobre mi *sobre-mi*

.section-SobreMi {
  margin-top: 1rem;
  text-align: center;
  h1 {
    font-size: 3.5rem;
  }
  img {
    width: 20%;
    border-radius: 50%;
    box-shadow: 0px 8px 15px 12px rgba(130, 138, 138, 0.69);
  }
  p {
    font-size: 1.3rem;
  }
}
//responsive SobreMi
@include sobreMiResponsive;

// sass para pagina de experiencia *experiencia*
.titulo-experiencia {
  text-align: center;
  font-size: 3.5rem;
  padding: 2rem;
  margin: 1rem;
}
.container-experiencia {
  display: grid;
  justify-content: end;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  margin: 6rem;
  .section-experiencia {
    background-color: #fff3f3;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0px 8px 15px 12px rgba(130, 138, 138, 0.69);
    h2 {
      background-color: #181717;
      color: rgb(206, 205, 205);
      padding: 10px;
      margin: 0;
    }
    .item-experiencia {
      padding: 2rem;

      .title-experiencia {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      .info-experiencia {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
  }
}

.repositorio {
  text-align: center;
  img {
    width: 10%;
  }
}

//edicion de codigo de elemento de bootstrap

.card-body{
  border-radius: 0.4rem;
  box-shadow: 0px 8px 15px 12px rgba(130, 138, 138, 0.69);

}
.bsb-timeline-3 .timeline>.timeline-item:after  {
 background-color: #000000;
 border: 4px solid rgb(116, 36, 141);
 
}

.bsb-timeline-3 .timeline:after{
  background-color: #8d8796;
}


// SASS RESPONSIVE EXPERIENCIA
@include experienciaResponsive;

// sass para pagina de habilidades *habilidades*

.titulo-habilidades {
  text-align: center;
  font-size: 3.5rem;
  padding: 2rem;
  margin: 1rem;
}

.container-habilidades {
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(2, 1fr);
  margin: 4rem;
  grid-gap: 20px;
  padding: 20px;
  text-align: -webkit-center;

  .section-habilidades {
    background-color: #fff3f3;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0px 8px 15px 12px rgba(130, 138, 138, 0.69);

    h2 {
      background-color: #181717;
      color: rgb(206, 205, 205);
      padding: 10px;
      margin: 0;
    }
    .item-habilidades {
      padding: 1rem;
      text-align: web-;

      .title-habilidades {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      .progress-container {
        width: 300px;
        background-color: #000000;
        border-radius: 5px;
        overflow: hidden;

        .progress-bar1 {
          @include progressBar(20%);
        }
        .progress-bar2 {
          @include progressBar(40%);
        }
        .progress-bar3 {
          @include progressBar(60%);
        }
        .progress-bar4 {
          @include progressBar(30%);
        }
        .progress-bar5 {
          @include progressBar(60%);
        }
        .progress-bar6 {
          @include progressBar(90%);
        }
      }
    }
  }
}

//responsive habilidades
@include habilidadesResponsive;

//*  SASS para pagina de contactame *contactame* */

.sectionContactame {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97vh;
  margin: 0;
  .tituloContactame {
    position: absolute;
    top: 4.5rem;
    font-size: 3.5rem;
  }
  .formularioContacto {
    width: 500px;
    padding: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 8px 15px 12px rgba(130, 138, 138, 0.69);

    label {
      display: block;
      margin-bottom: 8px;
    }
    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
    }

    textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      resize: none;
    }

    button {
      background-color: #373837;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      position: relative;
      left: 35%;
    }
    button:hover {
      background-color: #646664;
    }
  }
}

//FOOTER

.footer-contacto {
  @include footerResponsive;
}
