@import "src/sass/utilities/mixin";
@import "src/sass/components/progress-bar";

//SOBRE habilidades
@mixin habilidadesResponsive {
  @include tablet() {
    .titulo-habilidades {

        font-size: 2.5rem;
        padding: 5rem;
      }
    .container-habilidades {
        grid-template-columns: repeat(1, 1fr);
        margin: 4rem;
      }
  }

  @include mobile() {
    
.titulo-habilidades {

    font-size: 2rem;
    padding: 5rem;
  }
    .container-habilidades {
        grid-template-columns: repeat(1, 1fr);
        margin: 1rem;
      }
  }
}
