//paleta de colores
$color-principal : black;
$color-secundario : #535353;
$color-terciario:white;



//tamano texto y color
$titulo-pagina: 3.5rem;
$subtitulo-pagina: 1.5rem;
$color-texto:black;
$tamano-tituloTexto: 2rem;
$tamano-subtituloTexto: 1.2rem;
$tamano-textoPrincipal:1.5rem;
$tamano-menuPc: 1.3rem;

//box shados para elementos img/cards

$boxshadow:0px 8px 15px 12px rgba(130, 138, 138, 0.69);






//img
$fondo-principal : url("../img/fondo4.jpg") no-repeat right fixed;
$fondo-secundario :url("../img/fondo7.jpg") no-repeat right fixed;